In [1]:
# Q1. What is a Database? Difference between SQL and NoSQL Databases
# Database: A database is an organized collection of structured information or data stored in a computer system. It allows for efficient data storage, retrieval, and management.

# SQL Databases: These databases are relational and use Structured Query Language (SQL) for defining and manipulating the data. They have predefined schemas and are good for structured data. Examples: MySQL, PostgreSQL, SQLite.

# NoSQL Databases: NoSQL databases are non-relational and don't require a fixed schema, making them more flexible for unstructured or semi-structured data. They can handle large volumes of data and are often used in big data and real-time web applications. Examples: MongoDB, Cassandra, Redis.

In [2]:
# CREATE TABLE employees (
#     id INT PRIMARY KEY,
#     name VARCHAR(50),
#     department VARCHAR(50)
# );


# DROP TABLE employees;


# ALTER TABLE employees ADD COLUMN email VARCHAR(100);


# TRUNCATE TABLE employees;

In [4]:
# INSERT INTO employees (id, name, department) VALUES (1, 'John Doe', 'IT');


# UPDATE employees SET department = 'HR' WHERE id = 1;


# DELETE FROM employees WHERE id = 1;

In [5]:
# SELECT * FROM employees WHERE department = 'IT';

In [6]:
# Q5. Primary Key and Foreign Key
# Primary Key: A primary key is a unique identifier for a record in a table. It ensures each record in a table is uniquely identifiable. Example: id column in an employees table.

# Foreign Key: A foreign key establishes a relationship between two tables. It refers to the primary key in another table. Example: employee_id in a table referencing the id in an employees table.

ModuleNotFoundError: No module named 'mysql'

In [ ]:
import mysql.connector

# Establish connection
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Create cursor object
mycursor = mydb.cursor()

# Execute SQL query
mycursor.execute("SELECT * FROM yourtable")

# Fetch results
result = mycursor.fetchall()

In [ ]:
Q7. Order of Execution of SQL Clauses
SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY